body{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#formulario{
    margin: 50px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 15px;
    background-color: #ffc7e9;
    color: purple
}

h1 {
    text-align: center;
    color: purple
}

table{
    margin: 50px;
    padding: 20px;
    border-radius: 15px;
    background: #ffc7e9;
    border-collapse: collapse;
    max-width: 1250px;
    min-width: 1250px;	
    border: 1px solid #10303a40;
	color: purple;
	box-shadow: 2px 3px 6px #5f788060, -4px -2px 12px #a7c1c440;
 
}

td {
    border: 1px solid #99a;
    text-align: center;
    padding: 18px;
    white-space: nowrap;
    border: transparent;
}

th {
    color: white;
	text-shadow: 0px 1px 3px #000000;
    background: purple;
    text-align: center;
    padding: 8px;
    top: 0px;
}

.botao {
    border-radius: 10px;
    color: white;
    border-color: purple;
    background: purple;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
.botao:hover {
    background-color: white;
    color: purple;
}